.movie-list {
  max-width: 1010px;
  height: 1147px;
  background-color: #ffffff;
  margin: auto;
  padding: 19px 40px 19px 29px;
}
.card-column {
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.movie-pagination {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.ant-spin-nested-loading > div > .ant-spin {
  top: 200px;
  transform: scale(2);
}

@media (max-width : 576px) {
  .movie-list{
    width: 420px;
    height: 1755px;
    padding: 19px 13px 19px 13px;
  }

}